:host {
  background: linear-gradient(to bottom, #9BD7F1, #32B3EB, #0072C6, #003C6E);
  padding: 20px;

}

.sidebar {
  background: #292b31;
  padding: 20px;
}

.mat-list-option a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.mat-list-option a:hover {
  color: #4350AF;
  text-decoration: none;
}
