<mat-selection-list [multiple]="false">
  <mat-list-option>
    <a routerLink="{{'/calendar'}}"> Calendar</a>
  </mat-list-option>

  <mat-list-option>
    <a routerLink="{{'/todolist'}}">ToDoList</a>
  </mat-list-option>

  <mat-list-option>
    <a routerLink="{{'/invoices'}}">Invoices</a>
  </mat-list-option>
  <br>
  <br>
  <h2>Profesional</h2>
  <mat-divider></mat-divider>
  <mat-list-option>
    <a routerLink="{{'/invoices/factory'}}">Invoices Factory</a>
  </mat-list-option>
</mat-selection-list>

