<header fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
    <mat-icon color="accent" class="logoicon">store</mat-icon>
    <span class="logo">{{title}}</span>
  </div>
  <div fxLayoutAlign="start center" fxLayoutGap="15">
    <button mat-raised-button color="primary" routerLink="">Home</button>
    <button mat-raised-button color="primary" routerLink="/products">Products</button>
    <span></span>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
    <a routerLink="/basket"><mat-icon color="accent" class="shoppbasket" matBadge="{{basketProductsCount}}" matBadgeColor="warn">shopping_basket</mat-icon></a>
  </div>
</header>
