<header fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
    <mat-icon color="primary" class="logoicon">book</mat-icon>
    <span class="logo">{{title}}</span>
  </div>
  <div fxLayoutAlign="start center" fxLayoutGap="15">
    <button mat-raised-button color="primary" routerLink="">Home</button>
    <span></span>

    <div *ngIf="isLogged" fxLayoutGap="10">
      <button mat-raised-button color="primary" routerLink="/login">

        <img src="/assets/avatar.gif" width="35px" alt="user photo" class="userPhoto">
        Profile
      </button>
      <button mat-flat-button color="warn" class="orderButton" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!isLogged">
      <button mat-raised-button color="primary" routerLink="/login">Login</button>
    </div>

  </div>
</header>
