table {
  width: 500px;
  /*wycentruj i obniz*/
  margin: 100px auto;

}

.mat-column-id {
  width: 10%;
}

.mat-column-action {
  width: 140px;
}

.productAdminImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding-top: 10px;
}
