.calendar {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  border: none;
  background-color: transparent;
  color: #4350af;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  text-decoration: underline;
}

select {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #4350af;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekday {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day:hover {
  background-color: #4350af;
  color: #fff;
}

.day {
  width: calc(100% / 7 - 10px);
  background-color: #f5f5f5;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.day {
  width: calc(100% / 7 - 10px);
  height: 70px;
  margin: 5px;
  position: relative;
  overflow: hidden; /* Dodaj to, aby ukryć zawartość wychodzącą poza kafelek */

}

.number {
  font-size: 12px;
  color: #333;
  text-align: left;
  position: absolute;
  top: 5px;
  left: 5px;

}


.data {
  font-size: 12px;
  width: 100%;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 100%; /* Dodaj to, aby ograniczyć wysokość do wysokości kafelka */
  overflow-y: auto; /* Dodaj to, aby dodać pasek przewijania, gdy potrzebny */
  overflow-x: hidden; /* Dodaj to, aby ukryć zawartość wychodzącą poza kafelek */
}

.data div {
  margin-bottom: 5px;
}

.custom-icon {
  font-size: 15px;
}
.edit-event-element {
  width: auto; /* Ustaw szerokość na auto, aby przycisk dopasował się do zawartości */
  min-width: 50px; /* Ustaw minimalną szerokość przycisku */
  max-width: 100%; /* Ustaw maksymalną szerokość przycisku, aby nie wychodził poza kafelkę */
  height: 15px; /* Ustaw wysokość przycisku */
  font-size: 9px; /* Zmniejsz rozmiar czcionki */
  /* Zmniejsz grubosc czcionki */
  font-weight: 400;
  padding: 0 2px; /* Ustaw padding dla przycisku */
  box-sizing: border-box; /* Upewnij się, że padding nie powiększa przycisku */
  white-space: nowrap; /* Zapobiegaj zawijaniu tekstu */
  overflow: hidden; /* Ukryj zawartość wychodzącą poza przycisk */
  text-overflow: ellipsis; /* Dodaj trzykropek, gdy tekst przekroczy szerokość przycisku */
  display: flex; /* Dodaj to, aby użyć flexboxa */
  align-items: center; /* Dodaj to, aby wyśrodkować tekst w pionie */
  justify-content: center;
}
