.orderForm{
  width: 400px;
}
.orderButton{
  background: #f0c14b;
  border: 1px solid;
  margin-top: 12px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 30%;
  padding: 5px 0;
  font-size: 18px;
  border-radius: 3px;
}
.cart-hcol-1,
.cart-hcol-2,
.cart-hcol-3,
.cart-hcol-4,
.cart-hcol-5{
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  min-width: 110px;
  text-align: center;
}
.cart-col-1,
.cart-col-2,
.cart-col-3,
.cart-col-4,
.cart-col-5{
  padding: 7px;
  font-size: 18px;
  width: 100px;
  text-align: center;
}
.cart-hcol-2, .cart-col-2{
  min-width: 250px;
}
.summary {
  padding: 7px;
  font-size: 18px;
  width: 100px;
  text-align: center;
}
.card-hrow, .card-row{
  background: white;
  padding: 4px;
  border-bottom: 1px solid #eee;
}
.summary{
  background: white;
  padding: 11px;
  border-bottom: 1px solid #eee;
}

.orderSummary {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.orderSummary > div {
  margin-bottom: 10px;
}

.orderSummary > div:first-child {
  font-weight: bold;
}

.orderSummary > div:nth-child(2) {
  color: gray;
}

.orderSummary > div:nth-child(4) {
  font-weight: bold;
  font-size: 1.2em;
}
.shipmentRadioButton {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

}
.shipmentRadioButton :hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.shipment-1 {
  font-size: 18px;
  font-weight: 400;
  margin-right: 16px;
}
.shipment-2 {
  font-size: 14px;
  color: #999;
}
.orderTotal {
  padding: 15px;
  border-bottom: 2px solid #eee;
  font-size: 1.5em;
  font-weight: bold;
}

.orderTotalValue {
  color: green;
}
.paymentNote{
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}
