<div fxFlex="50%">
  <mat-card *ngFor="let review of reviews" class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{review.authorName}}</mat-card-title>
      <!--        TODO: add user rating-->
      <mat-card-subtitle>Rating</mat-card-subtitle>
      <img mat-card-sm-image src="{{'/api/data/productImage/'+ getUserImage(review.userId)}}">
    </mat-card-title-group>
    <mat-card-content>
      {{review.content}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="removeReview(review.id)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>
