<app-header flexLayout="column"></app-header>
<div flexLayout="row" fxFlex>
  <div>
    <div fxFlex class="sidebar">
      <mat-selection-list [multiple]="false">
        <mat-list-option><a routerLink="/profile">Orders</a></mat-list-option>
        <mat-list-option><a routerLink="/edit/profile">Edit Profile</a></mat-list-option>
        <mat-list-option><a routerLink="/profile/reviews">Reviews</a></mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div fxFlex="85" class="content">
    <router-outlet></router-outlet>
  </div>
</div>

