<h1>Generate New Invoice</h1>

<mat-tab-group mat-align-tabs="center">
  <form [formGroup]="invoiceForm" fxLayout="column">
    <mat-tab label="Data">
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>customerCompanyName</mat-label>
            <input matInput placeholder="customerCompanyName" formControlName="customerCompanyName">
            <div *ngIf="customerCompanyName?.invalid && (customerCompanyName?.dirty || customerCompanyName?.touched)">
              <mat-error *ngIf="customerCompanyName?.errors?.['required']">customerCompanyName name is required
              </mat-error>
              <mat-error *ngIf="customerCompanyName?.errors?.['minlength']">customerCompanyName name must be at least 3
                characters long
              </mat-error>
              <mat-error *ngIf="customerCompanyName?.errors?.['maxlength']">customerCompanyName name must be at most 200
                characters long
              </mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>customerZipCode</mat-label>
            <input matInput placeholder="customerZipCode" formControlName="customerZipCode">
            <div *ngIf="customerZipCode?.invalid && (customerZipCode?.dirty || customerZipCode?.touched)">
              <mat-error *ngIf="customerZipCode?.errors?.['required']">customerZipCode is required</mat-error>
              <mat-error *ngIf="customerZipCode?.errors?.['pattern']">customerZipCode format is not correct</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>customerCompanyAddress</mat-label>
            <input matInput placeholder="customerCompanyAddress" formControlName="customerCompanyAddress">
            <div
              *ngIf="customerCompanyAddress?.invalid && (customerCompanyAddress?.dirty || customerCompanyAddress?.touched)">
              <mat-error *ngIf="customerCompanyAddress?.errors?.['required']">customerCompanyAddress name is required
              </mat-error>
              <mat-error *ngIf="customerCompanyAddress?.errors?.['minlength']">customerCompanyAddress name must be at
                least 3 characters long
              </mat-error>
              <mat-error *ngIf="customerCompanyAddress?.errors?.['maxlength']">customerCompanyAddress name must be at
                most 200 characters long
              </mat-error>
            </div>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>customerCompanyNIP NIP</mat-label>
            <input matInput placeholder="customerCompanyNIP" formControlName="customerCompanyNIP">
            <div *ngIf="customerCompanyNIP?.invalid && (customerCompanyNIP?.dirty || customerCompanyNIP?.touched)">
              <mat-error *ngIf="customerCompanyNIP?.errors?.['required']">customerCompanyNIP name is required
              </mat-error>
              <mat-error
                *ngIf="customerCompanyNIP?.errors?.['minlength'] || customerCompanyNIP?.errors?.['maxlength'] ">
                customerCompanyNIP name must be
                at 10 characters long
              </mat-error>
              <mat-error *ngIf="customerCompanyNIP?.errors?.['pattern']"> input must be number</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>invoiceId</mat-label>
            <input matInput placeholder="invoiceId" formControlName="invoiceId">
            <div *ngIf="invoiceId?.invalid && (invoiceId?.dirty || invoiceId?.touched)">
              <mat-error *ngIf="invoiceId?.errors?.['required']">invoiceId number is required</mat-error>
              <mat-error *ngIf="invoiceId?.errors?.['minlength'] || invoiceId?.errors?.['maxlength'] ">invoiceId name
                must be
                at 10 characters long
              </mat-error>
              <mat-error *ngIf="invoiceId?.errors?.['pattern']"> input must be number</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>VAT</mat-label>
            <input matInput placeholder="VAT" formControlName="vat">
            <div *ngIf="vat?.invalid && (vat?.dirty || vat?.touched)">
              <mat-error *ngIf="vat?.errors?.['required']">vat name is required</mat-error>
              <mat-error *ngIf="vat?.errors?.['min']">min is 0</mat-error>
              <mat-error *ngIf="vat?.errors?.['max']">max number is 100</mat-error>
              <mat-error *ngIf="vat?.errors?.['pattern']">input must be number (0-100)</mat-error>
            </div>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" formControlName="companyName">
            <div *ngIf="companyName?.invalid && (companyName?.dirty || companyName?.touched)">
              <mat-error *ngIf="companyName?.errors?.['required']">companyName name is required</mat-error>
              <mat-error *ngIf="companyName?.errors?.['minlength']">companyName name must be at least 3 characters long
              </mat-error>
              <mat-error *ngIf="companyName?.errors?.['maxlength']">companyName name must be at most 200 characters long
              </mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Company Address</mat-label>
            <input matInput placeholder="Company Address" formControlName="companyAddress">
            <div *ngIf="companyAddress?.invalid && (companyAddress?.dirty || companyAddress?.touched)">
              <mat-error *ngIf="companyAddress?.errors?.['required']">companyName name is required</mat-error>
              <mat-error *ngIf="companyAddress?.errors?.['minlength']">companyName name must be at least 3 characters
                long
              </mat-error>
              <mat-error *ngIf="companyAddress?.errors?.['maxlength']">companyName name must be at most 200 characters
                long
              </mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>companyZipCode</mat-label>
            <input matInput placeholder="companyZipCode" formControlName="companyZipCode">
            <div *ngIf="companyZipCode?.invalid && (companyZipCode?.dirty || companyZipCode?.touched)">
              <mat-error *ngIf="companyZipCode?.errors?.['required']">customerZipCode is required</mat-error>
              <mat-error *ngIf="companyZipCode?.errors?.['pattern']">customerZipCode format is not correct</mat-error>
            </div>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>Company NIP</mat-label>
            <input matInput placeholder="Company NIP" formControlName="companyNIP">
            <div *ngIf="companyNIP?.invalid && (companyNIP?.dirty || companyNIP?.touched)">
              <mat-error *ngIf="companyNIP?.errors?.['required']">companyNIP name is required</mat-error>
              <mat-error *ngIf="companyNIP?.errors?.['minlength'] || companyNIP?.errors?.['maxlength'] ">companyNIP name
                must be
                at 10 characters long
              </mat-error>
              <mat-error *ngIf="companyNIP?.errors?.['pattern']"> input must be number</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>companyBankNumber</mat-label>
            <input matInput placeholder="companyBankNumber" formControlName="companyBankNumber">
            <div *ngIf="companyBankNumber?.invalid && (companyBankNumber?.dirty || companyBankNumber?.touched)">
              <mat-error *ngIf="companyBankNumber?.errors?.['required']">companyNIP name is required</mat-error>
              <mat-error *ngIf="companyBankNumber?.errors?.['minlength'] || companyBankNumber?.errors?.['maxlength'] ">
                companyNIP name must be
                at 10 characters long
              </mat-error>
              <mat-error *ngIf="companyBankNumber?.errors?.['pattern']"> input must be number</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>paymentMethod</mat-label>
            <input matInput placeholder="paymentMethod" formControlName="paymentMethod">
            <div *ngIf="paymentMethod?.invalid && (paymentMethod?.dirty || paymentMethod?.touched)">
              <mat-error *ngIf="paymentMethod?.errors?.['required']">companyName name is required</mat-error>
              <mat-error *ngIf="paymentMethod?.errors?.['minlength']">companyName name must be at least 3 characters
                long
              </mat-error>
              <mat-error *ngIf="paymentMethod?.errors?.['maxlength']">companyName name must be at most 200 characters
                long
              </mat-error>
            </div>
          </mat-form-field>
        </div>

      </div>
      <div fxLayoutAlign="end">
        <button mat-button color="warn" (click)="onCancel()">Cancel</button>
        <button mat-button color="primary" [disabled]="!invoiceForm.valid" (click)="submit()">Generate</button>
      </div>
    </mat-tab>
  </form>

  <form [formGroup]="invoiceItemsForm" fxLayout="column">
    <mat-tab label="Items">

      <mat-form-field appearance="fill">
        <mat-label>productName</mat-label>
        <input matInput placeholder="productName" formControlName="productName">
        <div *ngIf="productName?.invalid && (productName?.dirty || productName?.touched)">
          <mat-error *ngIf="productName?.errors?.['required']">productName name is required</mat-error>
          <mat-error *ngIf="productName?.errors?.['minlength']">productName name must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="productName?.errors?.['maxlength']">productName name must be at most 200 characters long
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>productQuantity</mat-label>
        <input matInput placeholder="productQuantity" formControlName="productQuantity">
        <div *ngIf="productQuantity?.invalid && (productQuantity?.dirty || productQuantity?.touched)">
          <mat-error *ngIf="productQuantity?.errors?.['required']">productQuantity name is required</mat-error>
          <mat-error *ngIf="productQuantity?.errors?.['minlength']">productQuantity name must be at least 3 characters
            long
          </mat-error>
          <mat-error *ngIf="productQuantity?.errors?.['maxlength']">productQuantity name must be at most 200 characters
            long
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>productPriceBrutto</mat-label>
        <input matInput placeholder="productPriceBrutto" formControlName="productPriceBrutto">
        <div *ngIf="productPriceBrutto?.invalid && (productPriceBrutto?.dirty || productPriceBrutto?.touched)">
          <mat-error *ngIf="productPriceBrutto?.errors?.['required']">productName name is required</mat-error>
          <mat-error *ngIf="productPriceBrutto?.errors?.['minlength']">productName name must be at least 3 characters
            long
          </mat-error>
          <mat-error *ngIf="productPriceBrutto?.errors?.['maxlength']">productName name must be at most 200 characters
            long
          </mat-error>
        </div>
      </mat-form-field>
      <button mat-button color="primary" (click)="addItem()">Add Item</button>
      <table mat-table [dataSource]="items" class="mat-elevation-z8">

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="productQuantity">
          <th mat-header-cell *matHeaderCellDef> Product Quantity</th>
          <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="productPriceBrutto">
          <th mat-header-cell *matHeaderCellDef> Product Price Brutto</th>
          <td mat-cell *matCellDef="let element"> {{element.productPriceBrutto}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="deleteItem()">
              <mat-icon color="accent">delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-tab>
  </form>
</mat-tab-group>

